.dob-container{
    padding: 1em 0em;
}
.dob-row{
    display: flex;
}

.dob-box{
    max-width: 5em;
    flex: 1;
    margin: 0em 0.2em;
    display: flex;
}
.dob-box:nth-child(2)::before,
.dob-box:nth-child(2)::after
{
    content: "/";
    font-size: 2em;
    font-weight:200;
    color: gray;
    margin: 2px;
}
.dob-input {
    display: block;
    width: 100%;
    font-family: inherit;
    color: rgb(0, 0, 0);
    -webkit-appearance: none;
    transform: translateZ(0px);
    font-size: 30px;
    -webkit-font-smoothing: antialiased;
    line-height: unset;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px;
    padding: 0px 0px 8px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    outline: none;
    border-radius: 0px;
    background: none;
    transition: box-shadow 0.1s ease-out 0s;
    appearance: none;
    -webkit-appearance: none;
}
.dob-input:focus {
    border-bottom: 2px solid rgb(0, 0, 0);
}
.dob-input::-webkit-outer-spin-button,
.dob-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
.dob-input [type=number] {
    -moz-appearance: textfield;
}

.dob_warning {
    color: rgb(230, 48, 16);
    padding: 0.5em 0em;
}

@media screen and (max-width:600px) {
    .dob-input {
        font-size: 1.2em;
    }
}